@using MudBlazor

@if (ShowDetailPage)
{
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">
        <MudCard Class="border-success elevation-6" style="background-color: #f5f3da;border-radius: 18px;">
            <MudCardHeader>
                <MudText Typo="Typo.h6">@EmployeeDetail.Name Details</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid GutterSize="3">
                    <!-- Personal Info -->
                    <MudItem xs="12" sm="4">
                        <MudPaper Class="pa-3" Elevation="2" >
                            <MudStack Spacing="2" AlignItems="AlignItems.Center">
                                <MudAvatar Image="@EmployeeDetail.Photo" Size="Size.Large" Class="border border-warning" Style="width: 100px; height: 100px;" />
                                <MudDivider />
                                <MudText Typo="Typo.subtitle2">
                                    <span style="font-weight:bold;">Name:</span> @EmployeeDetail.Name
                                </MudText>
                                <MudText Typo="Typo.subtitle2">
                                    <span style="font-weight:bold;">Job Title:</span> @EmployeeDetail.JobName
                                </MudText>
                                <MudText Typo="Typo.subtitle2">
                                    <span style="font-weight:bold;">Telephone:</span> @EmployeeDetail.TelephoneNumber
                                </MudText>
                                <MudText Typo="Typo.subtitle2">
                                    <span style="font-weight:bold;">Address:</span> @EmployeeDetail.Address
                                </MudText>
                            </MudStack>
                        </MudPaper>
                    </MudItem>
                    <!-- Department Info -->
                    <MudItem xs="12" sm="4">
                        <MudPaper Class="pa-3" Elevation="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center" style="font-weight:bold;">
                                Department Information
                            </MudText>
                            <MudDivider Class="mb-2" />

                            <MudText Typo="Typo.subtitle2">
                                <span style="font-weight:bold;">General Department:</span> @(EmployeeDetail.Branch?.Department?.GeneralDepartment?.Name ?? "-")
                            </MudText>
                            <MudText Typo="Typo.subtitle2">
                                <span style="font-weight:bold;">Department:</span> @(EmployeeDetail.Branch?.Department?.Name ?? "-")
                            </MudText>
                            <MudText Typo="Typo.subtitle2">
                                <span style="font-weight:bold;">Branch:</span> @(EmployeeDetail.Branch?.Name ?? "-")
                            </MudText>

                        </MudPaper>
                    </MudItem>
                    <!-- Location Info -->
                    <MudItem xs="12" sm="4">
                        <MudPaper Class="pa-3" Elevation="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center" style="font-weight:bold;">
                                Location Information
                            </MudText>
                            <MudDivider Class="mb-2" />

                            <MudText Typo="Typo.subtitle2">
                                <span style="font-weight:bold;">Country:</span> @(EmployeeDetail.Town?.City?.Country?.Name ?? "-")
                            </MudText>
                            <MudText Typo="Typo.subtitle2">
                                <span style="font-weight:bold;">City:</span> @(EmployeeDetail.Town?.City?.Name ?? "-")
                            </MudText>
                            <MudText Typo="Typo.subtitle2">
                                <span style="font-weight:bold;">Town:</span> @(EmployeeDetail.Town?.Name ?? "-")
                            </MudText>

                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudButton Class="m-2" Color="Color.Error" Variant="Variant.Filled" OnClick="DetailPageCloseBtnClicked">
                    Close
                </MudButton>
            </MudCardActions>
        </MudCard>
    </MudContainer>
}

@code {
    [Parameter] public bool ShowDetailPage { get; set; }
    [Parameter] public Employee EmployeeDetail { get; set; } = new();
    [Parameter] public EventCallback HandleDetailPageCloseBtnClicked { get; set; }

    async Task DetailPageCloseBtnClicked() => await HandleDetailPageCloseBtnClicked.InvokeAsync();
}
